$color-box: #0000A3;
$color-box-1: #0000FF;
$color-header:#0000EC;
$color-boton: #00F3BB;
$color-boton-1: #0000FE;
$color-hover: rgba(0, 0, 0, 0.1);
$color-transparente: rgba(255, 255, 255, 0);
$color-blanco: white;
$color-gris: grey;
$color-negro: black;